html, body
  height auto

.landing
  width 90%
  margin-left 5%

.mb0
  margin-bottom 0!important

.mt10
  margin-top 10px

.mt20
  margin-top 20px

.ovn
  overflow hidden

.textarea
  resize vertical
